.advantages h2 {
    padding: 0;
}
.advantage {
    position: relative;
    margin-bottom: 15px;
}
.advantage:hover .hover-image-background {
    display: none;
}
.advantage:hover .advantages-hover-text {
    display: none;
}
.advantages-poster {
    width: 345px;
    height: 205px;
    border-bottom: 1px solid var(--second-text-color);
}
.advantages-poster-bg {
    max-width: 345px;
    min-height: 205px;
}
.advantages-video {
    top: 0;
    left: -154px;
    width: 345px;
    height: 205px;
    padding: 0 155px;
    position: absolute;
    z-index: 10;
}
.advantages-poster-text {
    margin-top: 130px;
    top: 0px;
    position: absolute;
    padding-left: 18px;
}
.advantages-poster-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}
.advantages-poster-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 304px;
}
.advantages-poster-brief {
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    color: var(--second-text-color);
}
.advantages-poster-navigation {
    display: flex;
    align-items: center;
    justify-content: end;
}
.advantages-poster-navigation-text {
    display: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
.advantages-hover-text {
    display: none;
    padding-left: 40px;
    position: absolute;
    top: 0;
    background-color: #f8f8f8;
    background-color: #e1b054c0;
    width: 765px;
    height: 405px;
}
.hover-image-background {
    display: none;
    width: 805px;
    position: absolute;
    top: 0;
}
.hover-text-title {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 75px;
}
.hover-text-brief {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 9px;
}
.hover-text-main {
    padding-right: 45px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 40px;
}
.second-hover-text {
    padding-bottom: 15px;
}
.hover-poster-navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    border-top: 1px solid rgba(255, 255, 255, 0.384);
    margin-right: 22px;
    padding-top: 24px;
}
.hover-poster-navigation-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}
.advantages-poster-navigation-icon {
    margin-bottom: 10px;
    margin-left: 21px;
    padding: 13.5px 18px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.562);
}
.advantages-icon-image {
    width: 10px;
    height: 10px;
}
.hover-poster-navigation-icon {
    cursor: pointer;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 21px;
    padding: 13.5px 18px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.562);
}
.hover-icon-image {
    width: 10px;
    height: 10px;
}